* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(80, 80, 80);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(6, 150px);
  justify-content: center;
  align-content: center;
  height: 100vh;
  grid-template-areas: 'header header header header';
}

.button {
  font-size: 30px;
  background-color: white;
  border: black solid 1px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.button:active {
  transform: scale(0.98);
}

.screen {
  grid-area: header;
  background-color: white;
  text-align: end;
  color: black;
  font-size: 60px;
}

.screen:active {
  transform: scale(1);
}

.all-clear,
.delete,
.operator,
.equal {
  background-color: rgb(0, 157, 255);
}

.number {
  background-color: rgb(131, 131, 131);
  border: 1px solid black;
}
